*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --board-gray: #DCDCDC;
    --board-red: #CD5C5C;
    --board-azure: #ADD8E6;
    --board-yellow: #FFDEAD;
    --board-green: #98FB98;
    --board-card: #AFEEEE;
    --board-bg-gray: #F5F5F5;
    --board-bg-blu: #1E90FF;
    --board-foot-gray: #778899;
}

header{
    background-color: #2557d8;
}

#h-container{
    width: 80%;
    max-width: 1170px;
    margin:auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.h-row{
    display:flex;
}

.logo, .accedi{
    width: 20%;
}

.menu{
    width: 60%;
    padding-top: 0.5rem;
    color: white;
}

.accedi{
    text-align: end;
    padding-top: 0.5rem;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.bot{
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}



.bot-d{
    padding: 18px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

.principal-section{
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 6%;
    background-image: url(./img/jumbo.png);
}

.principal-container{
    width: 80%;
    max-width: 1170px;
}

.f-title{
    text-align: center;
    font-size: 5.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.description{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2rem;
}

.download{
    text-align: center;
    margin-left: 14rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.open{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}



.section-white{
    padding-left: 18%;
    padding-top: 1.5%;
    padding-bottom: 8%;
    border: 1px dashed black;
    
}


.section-gray{
    background-color: var(--board-bg-gray);
    padding-left: 18%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 1px dashed black;
    
}

.container{
    width: 80%;
    max-width: 1170px;
    height: 450px;
    background-color:var(--board-yellow);
    padding-top: 30px;
}

.row{
    display: flex;
    height: 400px;
    background-color:var(--board-gray);
    padding-top: 30px;
}

.col-60{
    width: 60%;
    height: 350px;
    background-color:var(--board-green);
    border: 1px dashed black;
    padding-top: 30px;
    padding-left: 2%;
}

.col-40{
    width: 40%;
    background-color:var(--board-green);
    height: 350px;
    border: 1px dashed black;
    padding-top: 30px;
    padding-left: 2%;
}


.card{
    height: 300px;
    width: 95%;
    background-color: var(--board-card);
}

.final-section{
    background-color: var(--board-bg-gray);
    padding-left: 18%;
    padding-top: 1.5%;
    padding-bottom: 10%;
    border: 1px dashed black;
}

.f-container{
    width: 80%;
    max-width: 1170px;
    height: 800px;
    background-color:var(--board-yellow);
}

.foot-container{
    width: 80%;
    max-width: 1170px;
    height: 600px;
    background-color:var(--board-foot-gray);
    padding-top: 30px;
}

.footer{
    background-color: var(--board-bg-blu);
    padding-left: 18%;
    padding-bottom: 8%;
    border: 1px dashed black;
}

.row-f-top{
    display: flex;
    height: 400px;
    background-color:var(--board-gray);
    padding-top: 30px;
    justify-content: space-between;
    padding-bottom: 10px;

}

.col-big{
    width: 30%;
    height: 350px;
    background-color:var(--board-green);
    border: 1px dashed black;
}

.col-small{
    width: 15%;
    height: 350px;
    background-color:var(--board-yellow);
    border: 1px dashed black;
}

.last-row{
    display: flex;
    height: 100px;
    background-color: var(--board-gray);
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 1.5rem;
    justify-content: space-between;

}

.last-item{
    width: 20%;
    height: 50px;
    background-color: var(--board-yellow);
    border: 2px dashed black;

}